.row-fluid
  .span12.center-text.account
    .span6.user-info
      %h3 Your User Info
      %h6 (Use your Facebook account to change this info)
      %dl
        %dt Name:
        %dd {{user.name}}

        %dt Email Address:
        %dd {{user.email}}

        %dt Location:
        %dd {{user.location.name}}

        %dt Account Type
        %dd Free User (<a href="#">Upgrade</a>)
    .span6.feedback
      %h3 Your Feedback
      %p
        %strong Pete Munsen
        Great produce!
        .icon-star
        .icon-star
        .icon-star
        .icon-star
        .icon-star

      %p
        %strong Jon DeCarlo
        Pear tomatoes were fresh.
        .icon-star
        .icon-star
        .icon-star
        .icon-star

      %p
        %strong Alice Cooper
        Spinach was good, but wilted a little
        .icon-star
        .icon-star
        .icon-star

      %p
        %strong Alex Baldwin
        I think he made up "pear tomato"
        .icon-star

      %p
        %strong Sue Montgomery
        Super nice. A+++++
        .icon-star
        .icon-star
        .icon-star
        .icon-star
        .icon-star

      %p.more
        %i
          %a{:href => '#'}
            see more
