.row-fluid
  .span12.center-text.account
    .span6.user-info
      %h3 Your User Info
      %h6 (Use your Facebook account to change this info)
      %dl
        %dt Name:
        %dd {{user.name}}

        %dt Email Address:
        %dd {{user.email}}

        %dt Location:
        %dd {{user.location.name}}

        %dt Account Type
        %dd Free User (<a href="#">Upgrade</a>)
    .span6.feedback
      %h3 Your Feedback
      %ul
        %li Feedback
        %li Feedback
        %li Feedback
        %li Feedback
        %li Feedback
        %li ..more.. (expands inline, not new page)