.home
  .row-fluid
    .span1

    .span5.sharing-image.image-container
      %img{:src => 'images/home/sharing.jpg'}
    .span5.sharing-text
      %h1 What are your neighbors growing?
      %img{:src => 'images/logo.png'}
    .span1

  .row-fluid
    .span12
      %h3
        CropSwap is the
        %strong
          best
        way to share what you grow, and take part in the havest of your community.
