.home
  .row-fluid
    .span6.sharing-text
      %img.logo{:src => 'images/logo.png'}
      %hr{:style => 'height:10px;'}
      %h2 Share Your Crops For More Variety
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    .span6.sharing-image.image-container
      %img{:src => 'images/home/sharing.jpg'}
