.row-fluid
  .span12.center-text.add-offer
    %h6
    %a.add-crop-or-offer-link{:href => '#'}
      %i.icon-plus-sign
      Add Crop or Offer
  .span12.center-text.offer
    .span6.have
      %h3 You Have
      {{#each sell_offers}}
      %p
        {{this.Amount}} {{this.UnitType}} {{this.CropName}}.
        %i {{#if this.Barter}}Barter{{/if}} {{#if this.Cash}}Cash{{/if}}
      {{/each}}
    .span6.want
      %h3 You Want
      {{#each buy_offers}}
      %p {{this.Amount}} {{this.UnitType}} {{this.CropName}}.
      {{/each}}