.offer-detail
  %a.close-link{:href => '#'}
    %i.icon-remove-sign
  .inner-container
    .row-fluid
      %label.radio
        %input#offerType1.offer-type{:type => "radio", :name => "offerType", :value => "have", "checked" => "checked"}
        I Have
      %label.radio
        %input#offerType2.offer-type{:type => "radio", :name => "offerType", :value => "want"}
        I Want

    .row-fluid
      %select.crop-type
        %option -- Select --
        %option{"value" => '3'} Tomatoes
        %option{"value" => '4'} Apples
        %option{"value" => '5'} Grapes
        %option{"value" => '6'} Lettuce
        %option{"value" => '7'} Carrots
        %option{"value" => '8'} Pears
        %option{"value" => '9'} Eggs
        %option{"value" => '10'} Honey
        %option{"value" => '11'} Bell Peppers
        %option{"value" => '12'} Jalapeno Peppers
        %option{"value" => '13'} Spinach
      %select.crop-sub-type{:style => 'display:none'}
    .row-fluid
      %input.quantity{:type => 'text', :size => 5, :placeholder => 'quantity', :name => 'quantity'}
      %select.quantity-unit
        %option -- Select --
        %option{"value" => '1'} Each
        %option{"value" => '2'} Bushels
        %option{"value" => '3'} Gallons
        %option{"value" => '4'} Plants
        %option{"value" => '5'} Pounds
        %option{"value" => '6'} Dollars
    .row-fluid.accept-type
      %h3.accept-text I will accept
      .accept-types
        %label.checkbox
          %input#acceptType1.accept-type.accept-cash{:type => "checkbox", :name => "acceptType", :value => "cash", "checked" => "checked"}
          Cash
        %label.checkbox
          %input#acceptType2.accept-type.accept-barter{:type => "checkbox", :name => "acceptType", :value => "barter"}
          Trade

    .row-fluid.buttons
      %a.btn.save-btn Save
      .clear-button
        %a.btn.clear-btn Clear
