<div class='row-fluid'>
  <div class='span12 center-text account'>
    <div class='span6 user-info'>
      <h3>Your User Info</h3>
      <h6>(Use your Facebook account to change this info)</h6>
      <dl>
        <dt>Name:</dt>
        <dd>{{user.name}}</dd>
        <dt>Email Address:</dt>
        <dd>{{user.email}}</dd>
        <dt>Location:</dt>
        <dd>{{user.location.name}}</dd>
        <dt>Account Type</dt>
        <dd>Free User (<a href="#">Upgrade</a>)</dd>
      </dl>
    </div>
    <div class='span6 feedback'>
      <h3>Your Feedback</h3>
      <p>
        <strong>Pete Munsen</strong>
        Great produce!
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
      </p>
      <p>
        <strong>Jon DeCarlo</strong>
        Pear tomatoes were fresh.
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
      </p>
      <p>
        <strong>Alice Cooper</strong>
        Spinach was good, but wilted a little
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
      </p>
      <p>
        <strong>Alex Baldwin</strong>
        I think he made up "pear tomato"
        <div class='icon-star'></div>
      </p>
      <p>
        <strong>Sue Montgomery</strong>
        Super nice. A+++++
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
        <div class='icon-star'></div>
      </p>
      <p class='more'>
        <i>
          <a href='#'>
            see more
          </a>
        </i>
      </p>
    </div>
  </div>
</div>
