<div class='row-fluid'>
  <div class='span12 center-text account'>
    <div class='span3 user-info'>
      <h3>Your User Info</h3>
      <h6>(Use your Facebook account to change this info)</h6>
      <dl>
        <dt>Name:</dt>
        <dd>{{user.name}}</dd>
        <dt>Email Address:</dt>
        <dd>{{user.email}}</dd>
        <dt>Location:</dt>
        <dd>{{user.location.name}}</dd>
        <dt>Account Type</dt>
        <dd>Free User (<a href="#">Upgrade</a>)</dd>
      </dl>
    </div>
    <div class='span3 crops'>
      <h3>Your Crops</h3>
      <ul>
        <li>Crop Name with link</li>
        <li>Crop Name with link</li>
        <li>Crop Name with link</li>
        <li>Crop Name with link</li>
        <li>Crop Name with link</li>
        <li>..more..</li>
      </ul>
    </div>
    <div class='span3 offers'>
      <h3>Your Offers</h3>
      <ul>
        <li>Offer Name with link</li>
        <li>Offer Name with link</li>
        <li>Offer Name with link</li>
        <li>Offer Name with link</li>
        <li>Offer Name with link</li>
        <li>..more..</li>
      </ul>
    </div>
    <div class='span3 feedback'>
      <h3>Your Feedback</h3>
      <ul>
        <li>Feedback</li>
        <li>Feedback</li>
        <li>Feedback</li>
        <li>Feedback</li>
        <li>Feedback</li>
        <li>..more.. (expands inline, not new page)</li>
      </ul>
    </div>
  </div>
</div>
