<div class='home'>
  <div class='row-fluid'>
    <div class='span6 sharing-text'>
      <img class='logo' src='images/logo.png'>
      <hr style='height:10px;'>
      <h2>Share Your Crops For More Variety</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
    </div>
    <div class='span6 sharing-image image-container'>
      <img src='images/home/sharing.jpg'>
    </div>
  </div>
</div>
