<div class='row-fluid'>
  <div class='span12 center-text add-offer'>
    <h6></h6>
    <a class='add-crop-or-offer-link' href='#'>
      <i class='icon-plus-sign'></i>
      Add Crop or Offer
    </a>
  </div>
  <div class='span12 center-text offer'>
    <div class='span6 have'>
      <h3>You Have</h3>
      {{#each sell_offers}}
      <p>
        {{this.Amount}} {{this.UnitType}} {{this.CropName}}.
        <i>{{#if this.Barter}}Barter{{/if}} {{#if this.Cash}}Cash{{/if}}</i>
      </p>
      {{/each}}
    </div>
    <div class='span6 want'>
      <h3>You Want</h3>
      {{#each buy_offers}}
      <p>{{this.Amount}} {{this.UnitType}} {{this.CropName}}.</p>
      {{/each}}
    </div>
  </div>
</div>
