<div class='offer-detail'>
  <a class='close-link' href='#'>
    <i class='icon-remove-sign'></i>
  </a>
  <div class='row'>
    <select class='crop-type'>
      <option>-- Select --</option>
      <option value='3'>Tomatoes</option>
      <option value='4'>Apples</option>
      <option value='5'>Grapes</option>
      <option value='6'>Lettuce</option>
      <option value='7'>Carrots</option>
      <option value='8'>Pears</option>
      <option value='9'>Eggs</option>
      <option value='10'>Honey</option>
      <option value='11'>Bell Peppers</option>
      <option value='12'>Jalapeno Peppers</option>
      <option value='13'>Spinach</option>
    </select>
    <select class='crop-sub-type' style='display:none'></select>
  </div>
  {"UserID":9,"cropTypeID":3, "cropSubTypeID": 0, "quatity": 7.2, "cost":10.5, "unitsID":2, "cash":true, "barter":false}
</div>
