.footer {
  text-align: right; }

.center-text {
  text-align: center; }

.header {
  position: relative;
  margin: 15px 0;
  padding: 9px 9px 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .header .home-link-div {
    float: left; }
    .header .home-link-div .home-link img {
      width: 32px;
      height: 30px; }
  .header .navigation-links {
    float: right; }
  .header ul {
    display: block; }
    .header ul li {
      display: inline; }

@media (max-width: 320px) {
  .image-container {
    max-width: 250px; }

  image {
    max-width: 250px; } }
@media (max-width: 480px) {
  .navigation-icon {
    display: block; }

  .header {
    text-align: right; }
    .header ul {
      margin-right: 5px;
      display: none; }
      .header ul li {
        display: block; } }
ul.navigation-shown {
  display: block; }

@media (min-width: 481px) {
  .navigation-icon {
    display: none; } }
.content {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.footer {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* home */
.home .sharing-image {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 295px;
  text-align: right; }
.home .sharing-text {
  text-align: center; }

/* my account */
.account .user-info {
  min-width: 300px; }
  .account .user-info dl dt {
    margin-top: 10px; }
  .account .user-info dl dd {
    margin-top: 5px; }
.account .offers {
  min-width: 300px; }
.account .crops {
  min-width: 300px; }
.account .feedback {
  min-width: 300px; }

/* offer */
.add-offer {
  min-width: 320px; }

.offer .have {
  min-width: 320px; }
.offer .want {
  min-width: 320px; }

/* offer detail */
.offer-detail-container {
  position: fixed;
  top: 10px; }
  .offer-detail-container .close-link {
    float: right;
    padding-right: 5px;
    padding-top: 2px; }
  @media (min-width: 481px) {
    .offer-detail-container {
      width: 30%;
      left: 32%; } }
  @media (max-width: 480px) {
    .offer-detail-container {
      width: 98%;
      left: 1%; } }
  .offer-detail-container .offer-detail {
    min-height: 240px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white; }
    .offer-detail-container .offer-detail .inner-container {
      padding: 10px; }
      .offer-detail-container .offer-detail .inner-container label.radio {
        display: inline-block; }
      .offer-detail-container .offer-detail .inner-container .quantity {
        width: 50px; }
      .offer-detail-container .offer-detail .inner-container select {
        width: 120px; }
      .offer-detail-container .offer-detail .inner-container .buttons .clear-button {
        float: right; }
