.footer {
  text-align: right;
}


.header {
  ul {
    li {
      display: inline;
    }
  }
}

@media (max-width: 480px) {
  .header {
    ul {
      li {
        display: block;
      }
    }
  }
}


.content {

}

.footer {

}