.footer {
  text-align: right;
}

.center-text {
  text-align: center;
}

body {
  background: #FFF9D4;
  color: #53360E;
  a { color: #53360E; }
  a:hover { color: #53360E; }
}

.header {
  position: relative;
  margin: 15px 0;
  padding: 9px 9px 4px;
  background-color: #E1F58A;
  border: 1px solid #53360E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .home-link-div {
    float:left;
    .home-link img {
      width: 32px;
      height: 30px;
    }
  }
  .navigation-links {
    float:right;
  }

  ul {
    display:block;
    li {
      display: inline;
    }
  }
}

@media (max-width: 320px) {
  .image-container {
    max-width: 250px;
  }
  image {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .navigation-icon {
    display: block;
  }

  .header {
    text-align:right;
    ul {
      margin-right:5px;
      display:none;
      li {
        display: block;
      }
    }
  }
}

ul.navigation-shown {
  display: block;
}

@media (min-width: 481px) {
  .navigation-icon {
    display: none;
  }
}

.content {
  margin-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
}

.footer {
  padding: 8px;
  background-color: #E1F58A;

  border: 1px solid #53360E;
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* home */

.home {
  .sharing-image {
    img {
      width: 500px;
    }
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    height:345px;
    text-align:right;
  }
  .sharing-text {
    // text-align: center;
  }
  .logo {
    height: 150px;
  }
}

/* my account */

.account {
  .user-info {
    width: 48%;
    min-width: 300px;
    dl {
      dt {
        margin-top: 10px;
      }
      dd {
        margin-top: 5px;
      }
    }
  }

  .feedback {
    width: 48%;
    min-width: 300px;
  }
}

/* offer */
.add-offer { min-width: 320px; }
.offer {
  .have {
    min-width: 320px;
    i {
      font-size: 70%;
    }
  }
  .want { min-width: 320px; }

}

/* offer detail */

.offer-detail-container {
  .close-link {
    float:right;
    padding-right:5px;
    padding-top:2px;
  }
  display:none;
  position: fixed;
  top:10px;



  @media (min-width: 481px) {
    width: 30%;
    left: 32%;
  }

  @media (max-width: 480px) {
    width: 98%;
    left: 1%;
  }


  .offer-detail {
    min-height: 240px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white;

    .inner-container {
      padding:10px;

      label.radio { display: inline-block; }

      .quantity {
        width: 50px;
      }
      select {
        width: 120px;
      }

      .buttons .clear-button {
        float: right;
      }
    }
  }
}