!!!
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
%html
  <!--<![endif]-->
  %head
    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title CropSwap
    - load_first = [ 'jquery-1.9.1.js', 'underscore-min.js', 'backbone.js', 'handlebars.js', 'application.js' ]
    - load_first.each do |s|
      %script{:src => "./javascripts/#{s}", :type => "text/javascript"}

    - Dir["public/stylesheets/**/*.css"].sort.each do |s|
      %link{:href => "./#{s.gsub(/^public\//, '')}", :media => "all", :rel => "stylesheet", :type => "text/css"}
    - Dir["public/javascripts/**/*.js"].reject{|s| load_first.include?(s.split(/\//).last)}.sort.each do |s|
      %script{:src => "./#{s.gsub(/^public\//, '')}", :type => "text/javascript"}

  %body

    %section.header
      .navigation

    %section.wrapper
      Crop them' Swaps!

    %section.footer
      .legal
        Some legal boilerplate here